<html>
    <head>
        <title>Houseplant care tracker</title>
    </head>
    <body>
      <a href="/">Home</a>
      <h2>{{ legend }}</h2>
      <br>
      <div>
          <form method ="POST" action="">
                {{ form.hidden_tag() }}
                {{ form.houseplant_name.label }}
                {{ form.houseplant_name}}
                <br>
                {{ form.species.label }}
                {{ form.species }}
                <br>
                {{ form.family.label}}
                {{ form.family}}
                <br>
                {{ form.date_acquired.label}}
                {{ form.date_acquired}}
                <br>
                {{ form.source.label}}
                {{ form.source}}

                {{ form.submit }}
                <br>
              <br>
                {% for field, errors in form.errors.items() %}
                <li>{{ errors[0] }}</li>
                {% endfor %}
                <br>
                
          </form>
      </div>

      <br>

      <!--{% for plant in plants %}
      <tr>
        <td>
          {{ plant.houseplant_name }} 
        </td>
        <br>
      
      </tr>
      {% endfor %}
  </table>-->
  </body>
</html>
    </body>
</html>
 