<html>
    <head>
        <title>Houseplant care tracker</title>
    </head>
    <body>
      <a href="/">Home</a>
      <h2>{{ legend }}</h2>
      <br>
      <div>
          <form method ="POST" action="">
                {{ form.hidden_tag() }}
                {{ form.houseplant_name.label }}
                {{ form.houseplant_name}}
                <br>
                {{ form.species.label }}
                {{ form.species }}
                <br>
                {{ form.family.label}}
                {{ form.family}}
                <br>
                {{ form.date_acquired.label}}
                {{ form.date_acquired}}
                <br>
                {{ form.source.label}}
                {{ form.source}}

                {{ form.submit }}
                <br>
                {% for field, errors in form.errors.items() if field==houseplant_name %}
                {{ ' '.join(errors) }}
                {% endfor %}
                <br>
                {% for field, errors in form.errors.items() if field==date_acquired and len(form.date_acquired) >0 %}
                {{ ' '.join(errors) }}
                {% endfor %}
                <br>
                {% for field, errors in form.errors.items() %}
                {{ ' '.join(errors) }}
                {% endfor %}
                <br>
                {{error_fields}}
          </form>
      </div>

      <br>

      <!--{% for plant in plants %}
      <tr>
        <td>
          {{ plant.houseplant_name }} 
        </td>
        <br>
      
      </tr>
      {% endfor %}
  </table>-->
  </body>
</html>
    </body>
</html>
 